<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="radio-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header></ion-list-header>
    <ion-item detail>
      <ion-label>
        Edition
      </ion-label>
      <ion-note slot="end">U.S.</ion-note>
    </ion-item>
    <ion-item detail lines="full">
      <ion-label>
        Alerts
      </ion-label>
    </ion-item>

    <ion-list-header></ion-list-header>
    <ion-item>
      <ion-label>
        <h2>Reader Mode</h2>
        <p>A text-only view of the newsfeed</p>
      </ion-label>
      <ion-toggle slot="end" checked="true"></ion-toggle>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
        <h2>Enable 'This is CNN'</h2>
        <p>A sound effect when you open the app</p>
      </ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-list-header></ion-list-header>
    <ion-item detail>
      <ion-label>
        Feedback
      </ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label>
        Contact Us
      </ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label>
        Help For Closed Captioning
      </ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label>
        Privacy Policy
      </ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label>
        Terms of Service
      </ion-label>
    </ion-item>
    <ion-item detail lines="full">
      <ion-label>
        Ad Choices
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p>Version 6.9.1 / Build 8035</p>
      </ion-label>
    </ion-item>

    <ion-list-header></ion-list-header>
    <ion-item button lines="full" href="https://takethatdesign.com" target="_blank">
      <ion-icon name="open-outline" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">
        Visit <strong>Take That Design</strong>
      </ion-label>
    </ion-item>
    <ion-list-header></ion-list-header>
  </ion-list>


</ion-content>
