<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
  <h3>
    Part of the #100Ions Project
  </h3>
  <p>
    100 Free Ionic Templates
    by <a href="https://takethatdesign.com" target="_blank" rel="noreferrer noopener">TakeThatDesign.com</a>
  </p>
</ion-content>
