<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="radio-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="medium" class="toolbar-search">
    <ion-searchbar color="white" placeholder="Search article"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding result-header">
    <div class="result-count">
      7713 results
    </div>
    <ion-segment value="all">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Articles</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Videos</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Galleries</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list class="result-list">
    <ion-item lines="full" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
      <ion-label class="ion-text-wrap">
        <h2>UFC champion Conor McGregor announces his retirement -- for the third time</h2>
        <p>June 7, 2020</p>
      </ion-label>
      <ion-icon name="document-outline" slot="end" size="small" class="ion-align-self-start"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
