<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="radio-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      CNN
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
      	Watch TV
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<super-tabs
  [activeTabIndex]="0"
  [config]="{ avoidElements: true, maxDragAngle: 30 }"
>
  <super-tabs-toolbar slot="top" scrollable class="super-tabs-toolbar-custom">
    <super-tab-button>
      <ion-label>Top News</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>World</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Politics</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Business</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Health</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Style</ion-label>
    </super-tab-button>
  </super-tabs-toolbar>

  <super-tabs-container>
    <!-- TAB 0 -->
    <super-tab>
      <ion-content>
        <div class="container-view">
          <ion-card class="card-custom" routerLink="/tabs/tab1/article">
            <div class="card-thumbnail" [style.backgroundImage]="'url(assets/img/img_4.png)'">
              <div class="card-caption">
                Germany and US leading the way in crucial period for women's football
              </div>
            </div>
            <ion-list>
              <ion-item lines="none">
                <ion-icon name="document-outline" slot="start" size="small"></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h3>Uncertainties' surround next year's Olympics, says Tokyo governor Yuriko Koike</h3>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-icon name="document-outline" slot="start" size="small"></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h3>Bundesliga's longest-serving club Werder faces relegation</h3>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-icon name="play-circle-outline" slot="start" size="small"></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h3>UFC champion Conor McGregor announces his retirement -- for the third time</h3>
                </ion-label>
              </ion-item>
              <ion-item lines="full">
                <ion-icon name="document-outline" slot="start" size="small"></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h3>She refused funding and now has two jobs to fund her Olympic dream</h3>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-row>
              <ion-col class="ion-padding">
                2h
              </ion-col>
              <ion-col size="auto">
                <ion-button fill="clear" size="small" color="medium">
                  <ion-icon slot="icon-only" name="share-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="medium">
                  <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>

          <ion-card class="card-custom">
            <ion-list>
              <ion-list-header class="ion-list-header-custom">
                <strong>Don't miss these</strong>
              </ion-list-header>
              <ion-item class="link-item-small" lines="none" *ngFor="let i of [0,1,2,3]">
                <ion-thumbnail class="ion-thumbnail-custom" slot="start">
                  <img src="{{'assets/img/img_' + (i%4+1) + '.png'}}" alt="">
                </ion-thumbnail>
                <ion-label class="ion-text-wrap">
                  <div class="category-name">Style</div>
                  <h3>UFC champion Conor McGregor announces his retirement -- for the third time</h3>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card>

          <ion-card class="card-custom" routerLink="/tabs/tab1/article" *ngFor="let i of [0,1,2,3,4,5,6,7]">
            <div class="card-thumbnail" [style.backgroundImage]="'url(assets/img/img_' + (i%4+1) + '.png)'">
              <div class="card-caption">
                Germany and US leading the way in crucial period for women's football
              </div>
            </div>

            <ion-row>
              <ion-col class="ion-padding">
                2h
              </ion-col>
              <ion-col size="auto">
                <ion-button fill="clear" size="small" color="medium">
                  <ion-icon slot="icon-only" name="share-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="medium">
                  <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <div class="container-view">
          <ion-card class="card-custom" routerLink="/tabs/tab1/article" *ngFor="let i of [0,1,2,3,4,5,6,7]">
            <div class="card-thumbnail" [style.backgroundImage]="'url(assets/img/img_' + (i%4+1) + '.png)'">
              <div class="card-caption">
                Germany and US leading the way in crucial period for women's football
              </div>
            </div>

            <ion-row>
              <ion-col class="ion-padding">
                2h
              </ion-col>
              <ion-col size="auto">
                <ion-button fill="clear" size="small" color="medium">
                  <ion-icon slot="icon-only" name="share-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="medium">
                  <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <div class="container-view">
          <ion-card class="card-custom" routerLink="/tabs/tab1/article" *ngFor="let i of [0,1,2,3,4,5,6,7]">
            <div class="card-thumbnail" [style.backgroundImage]="'url(assets/img/img_' + (i%4+1) + '.png)'">
              <div class="card-caption">
                Germany and US leading the way in crucial period for women's football
              </div>
            </div>

            <ion-row>
              <ion-col class="ion-padding">
                2h
              </ion-col>
              <ion-col size="auto">
                <ion-button fill="clear" size="small" color="medium">
                  <ion-icon slot="icon-only" name="share-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="medium">
                  <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <div class="container-view">
          <ion-card class="card-custom" routerLink="/tabs/tab1/article" *ngFor="let i of [0,1,2,3,4,5,6,7]">
            <div class="card-thumbnail" [style.backgroundImage]="'url(assets/img/img_' + (i%4+1) + '.png)'">
              <div class="card-caption">
                Germany and US leading the way in crucial period for women's football
              </div>
            </div>

            <ion-row>
              <ion-col class="ion-padding">
                2h
              </ion-col>
              <ion-col size="auto">
                <ion-button fill="clear" size="small" color="medium">
                  <ion-icon slot="icon-only" name="share-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="medium">
                  <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>
